.gallery-image-container .gallery-image{
    margin: 10px;
    padding: 5px;
    transition: 0.5s;
    background-color: #fff;
    /* box-shadow: 0px 0px 4px 1px #c5c5c5; */
    max-width: 250px;
    word-break: break-all;
    overflow: hidden;
}
.gallery-image-container .gallery-image:hover{
    /* transform: scale(1.01); */
    box-shadow: 0px 0px 8px 2px #c5c5c5;
    transform: scale(1.1);
}
.gallery-image-container .gallery-image a {
    text-decoration: none;
}
.gallery-image-container .gallery-image img{
    width: 240px;
    height: 225px;
    background-color: #f3f3f3;
}
.gallery-image-container .gallery-caption{
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    margin: 5px 0px;
    color: #111;
}
